@font-face {
    font-family: Balthazar;
    src: url("../../fonts/kerwei/Balthazar-Regular.ttf");
}

@font-face {
    font-family: NotoSans;
    src: url("../../fonts/kerwei/NotoSans-VariableFont_wdth,wght.ttf");
}

.kerwei-body {
    font-family: NotoSans;
    background-color: #ffffff;
}

.kerwei-body-content {
    padding: 1rem 1.5rem;
    color: #1a9c92;
}

.kerwei-carousel-box-body-text a {
    color: #EE4E4E;
}

.kerwei-menu {
    background-color: #1c8c81;
    color: white;
    padding: 1.25rem;
    display: flex;
    flex-direction: row;
    border: 1px solid transparent;
    align-items: center;
    gap: 2rem;
}

.kerwei-menu-item {
    font-size: .95rem;
}

.kerwei-menu-section {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.kerwei-menu-item-title {
    font-family: Balthazar;
    font-size: 1.5rem;
}

.kerwei-page-title {
    font-size: 2rem;
    font-weight: bold;
}

.kerwei-page-subtitle {
    font-size: 1.15rem;
    font-weight: bold;
}

.kerwei-carousel {
    padding: 3rem;
    min-height: 750px;
    background-image: url("../../img/kerwei/carousel1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.kerwei-carousel-box {
    max-width:750px;
    border-radius: 8px;
    margin-top: 3rem;
}

.kerwei-carousel-box-header {
    background-color: #1c8c81;
    color: white;
    padding: 2rem;
}

.kerwei-carousel-box-body {
    background-color: white;
    color: #1c8c81;
    padding: 1rem;
}

.kerwei-photo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
}

.translated-item-list {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.translated-item-group {
    display: flex;
    flex-direction: column;
    gap: .25vh;
}

.translated-item-title {
    font-weight: bold;
    flex: 1;
}

.translated-item-romanian {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.translated-item-german {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 85%;
    font-style: italic;
}

.photo-button-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}