.item-summary {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.item-summary-title {
    font-size: 1.75rem;
}

.item-summary-title-dark {
    color: #48a5ff;
}

.item-summary-title-light {
    color: #1b7cda;
}

.item-summary-description {
}