@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: ExpletusSans;
    src: url("../fonts/ExpletusSans-VariableFont_wght.ttf");
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.body-padded {
    height: 100%;
    padding: .5rem 10rem .5rem;
}

.body-padded-dark {
    background-color: #1a1d20;
    color: white;
}

.body-padded-light {
    background-color: #eaedf1;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.profile-banner-button-group {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

@media (max-width: 1000px) {
    .body-padded {
        padding: 1rem;
    }

    .hidden-for-mobile {
        display: none;
    }

    .button-group-social {
        align-items: flex-end;

    }

    .button-social {
        max-width: 48px;
    }

    .button-group-banner {
        padding: .5rem 3rem;
    }
}

@media(max-width: 750px) {
    .profile-banner {
        padding: 1.5rem 1.5rem;
    }

    .profile-banner-user-info-section {
        align-items: center;
    }

    .profile-banner-button-group {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding-top: .75rem;
    }

    .profile-banner-header {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-banner-user-info-header {
        display: flex;
        flex-direction: row;
        gap: .5rem;
    }

    .profile-banner-user-info-header-username{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    .profile-banner-user-info-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .profile-banner-user-info-header-username {
        font-size: 2rem;
    }

    .profile-banner-user-info-header-badge {
        font-size: 1.5rem;
    }
}

@media(min-width: 750px) {
    .profile-banner {
        padding: 1rem 1.5rem;
    }

    .profile-banner-header {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: .25rem;
    }

    .profile-banner-user-info-header {
        gap: .75rem;
    }

    .profile-banner-user-info-header-username {
        font-size: 2.5rem;
    }

    .profile-banner-user-info-header-badge {
        font-size: 1.75rem;
    }
}

.body-content {
    flex: 1;
    padding: 1rem 1.5rem;
    font-family: Roboto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.body-content-dark {
    background-color: #202327;
    box-shadow: 0 1px 3px rgba(0,0,0,0.20);
}

.body-content-light {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

a {
    text-decoration: none;
}

.body-content-light a {
    color: #1b7cda;
}

.body-content-dark a {
    color: #48a5ff;
}

a:hover {
    text-decoration: underline;
}

.split {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.split-left {
    flex: .8;
}

.split-right {
    flex: .2;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.button-group-banner {
    width: 100%;
}

.button-full-width {
    width: 100%;
}


.home-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.apps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.apps a:hover {
    text-decoration: none;
}

.app-button {
    border: 1px solid;
    border-radius: 8px;
    padding: .75rem;
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    gap: .5rem;
    min-width: 200px;
    min-height: 100px;
    max-height: 100px;
}

.app-button:hover {
    cursor: pointer;
    transition: 0.2s;
}

.app-button-row {
    flex: 1;
}

.app-button-light {
    background-color: #f2f5f6;
    border-color: #d7d9dd;
    color: black;
}

.app-button-dark {
    background-color: #363e47;
    border-color: #434c57;
    color: white;
}

.app-button-light:hover {
    background-color: #e9eced;}

.app-button-light:active {
    background-color: #dce0e1;
    cursor: pointer;
}

.app-button-dark:hover {
    background-color: #46505a;
}

.app-button-dark:active {
    background-color: #2e363e;
}

.app-button-title {
    font-weight: bold;
}

.app-button-category {
    padding: .2rem .5rem;
    border-radius: 20px;
}

.app-button-category-game {
    background-color: #38cc38;
}

.app-button-category-utility {
    background-color: #ff1f53;
}


.text-title {
    font-family: Roboto;
}

.text-normal {
    font-family: Roboto;
}

.app-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    height: 100svh;
}

@media (orientation: landscape) {
    .app-box {
        min-height: 100svh;
        height: auto;
    }
}

.app-input-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.app-input-group-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.app-input-group-item {
    flex: 1;
}

.slider {
    width: 100%;
    background: #d2d1d1;
    border-radius: 8px;
}

.slider::-webkit-slider-thumb {
    cursor: pointer;
}

.slider::-moz-range-thumb {
    background: #1b7cda;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}

.slider::-moz-range-thumb:hover {
    background: #318be3;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}

.app-limit-width {
    max-width: 300px;
}

.text {
    min-width: 250px;
    min-height: 30px;
}

.app-slider-group {
    display: flex;
    flex-direction: column;
}

.app-slider-group-item {
    flex: 1;
}

input[type=range] {
    width: 100%;
}

.account-group {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.account-group-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.account-group-header {
    display: flex;
    flex-direction: row;
    gap: .75rem;
}

.account-group-header-title {
    font-size: 2rem;
}

.account-group-header-logout {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}

.account-group-label {
    flex: 1;
}

.account-group-content {
    flex: 1;
}

.account-group-content-dark {
    color: #bcbcbc;
}

.account-group-content-light {
    color: #454545;
}

.delimited-links {
    display: inline-flex;
    gap: .5rem;
}

.management-button-group {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: center;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.form-button-group {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.form-button-group-item {
    flex: 1;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    gap: 1rem;
    justify-content: center;
}

.profile-banner {
    border: 1px solid;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

.profile-banner-light {
    background-color: #f6f8fa;
    border-color: #e5e6ea;
    color: black;
}

.profile-banner-dark {
    background-color: #282f35;
    border-color: #38424a;
    color: white;
}

.profile-banner-image-section {
}

.profile-banner-image {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-banner-image-placeholder {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    font-size: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile-banner-image-placeholder-light {
    background-color: #398bd6;
}

.profile-banner-image-placeholder-dark {
    background-color: #8eb1f1;
}

.profile-banner-user-info-section {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.profile-banner-user-info-main-group {
}

.profile-banner-user-info-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-banner-user-info-header-username {
}

.profile-banner-user-info-header-badge {
}

.profile-banner-user-info-header-badge:hover {
    transition: 0.2s;
}

.profile-banner-user-info-header-badge-dark:hover {
    color: #a1a1a1;
}

.profile-banner-user-info-header-badge-light:hover {
    color: #505050;
}

.profile-banner-user-info-content {
}

.profile-banner-user-info-buttons {
}

.profile-banner-user-info-header {
    display: flex;
    flex-direction: row;
}

.account-elements {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.account-elements-header {
    font-size: 2rem;
}

.account-elements-content {

}

.comments-section {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 1rem;
}

.comments-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.comments-input-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.comments-input-element {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.profile-comment-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.comment-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}

.comment-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.profile-comment-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.comment-user-date-group {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

.profile-comment-post-info {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

.profile-comment-content {
    word-break: break-all;
    font-size: .8rem;
}

.comment-user {
    flex: 1;
    font-size: 1.3rem;
}

.comment-date {
    flex: 1;
    font-size: .8rem;
}

.comment-date-dark {
    color: #bfbfbf;
}

.comment-date-light {
    color: #8f8f8f;
}

.comment-content {
    word-break: break-all;
}

.no-max-width {
    max-width: none;
}

.item-summary {
    border: 1px solid;
    border-radius: 8px;
    padding: .75rem;
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    gap: .5rem;
    max-width: 400px;
    min-height: 100px;
}

.item-summary:hover {
    cursor: pointer;
    transition: 0.2s;
}

.item-summary-light {
    background-color: #fbfdfd;
    border-color: #dce6e6;
    color: black;
}

.item-summary-dark {
    background-color: #282f35;
    border-color: #323a42;
    color: white;
}

.item-summary-light:hover {
    background-color: #ededed;
}

.item-summary-light:active {
    background-color: #d5d5d5;
}

.item-summary-dark:hover {
    background-color: #313a42;
}

.item-summary-dark:active {
    background-color: #23292e;
}