/*Menu*/
.menu-branding {
    font-family: ExpletusSans;
    font-size: 20px;
}

.menu a {
    color: black;
}

.menu-light {
    background-color: #f8fafb;
    box-shadow: 0 0 3px rgba(0,0,0,0.08);
}

.menu-dark {
    background-color: #24272c;
    box-shadow: 0 1px 3px rgba(0,0,0,0.20);
}

.menu-branding-text-light {
    color: black;
}

.menu-branding-text-dark {
    color: white;
}

.menu-item-dark {
    color: white;
}

.menu-item-light {
    color: black;
}

.menu-item-small-dark {
    background-color: #24272c;
}

.menu-item-small-light {
    background-color: #f8fafb;
}

.menu-item:hover {
    transition: 0.2s;
}

.menu-item-light:hover {
    background-color: #e8eced;
}

.menu-item-light:active {
    background-color: #d8dedf;
}

.menu-item-dark:hover {
    background-color: #353940;
}

.menu-item-dark:active {
    background-color: #292c32;
}

.menu-items-small-light {
    background-color: #f8fafb;
    color: black;
}

.menu-items-small-dark {
    background-color: #24272c;
    color: white;
}

.menu-item-burger-light {
    color: black;
    font-size: 20px;
}

.menu-item-burger-dark {
    color: white;
    font-size: 20px;
}

.menu-small-buttons {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

@media (min-width: 1000px) {
    .menu {
        font-family: Roboto;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 0 1.5rem;
        align-items: center;
        height: 4.5rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .menu-small {
        display: none;
    }

    .menu-items {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }

    .menu-items-main {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: .5rem;
        height: 100%;
        width: 100%;
        align-items: center;
    }

    .menu-items-secondary {
        flex: 1;
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
    }

    .menu-items a:hover {
        text-decoration: none !important;
    }

    .menu-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 1rem;
        height: 50px;
        border-radius: 8px;
    }

    .menu-item-burger {
        display: none;
    }

    .menu-items-small {
        display: none;
    }
}

@media (max-width: 1000px) {
    .menu {
        font-family: Roboto;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1.5rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .menu-branding {
        flex: 1;
    }

    .menu-items {
        display: none;
    }

    .menu-item {
        display: none;
    }

    .menu-item-burger {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: 2rem;
        flex: 1;
        background-color: transparent;
        border: none;
    }

    .menu-items-small {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-end;
        font-family: Roboto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

/*Buttons*/
.button {
    border: 1px solid;
    border-radius: 8px;
    padding: .75rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: .9rem;
    justify-content: center;
}

.button-small {
    padding: .35rem;
    font-size: .8rem;
}

.button:hover {
    transition: 0.2s;
}

.button-light {
    background-color: #f2f5f6;
    border-color: #dfe1e4;
    color: black;
}

.button-dark {
    background-color: #363e47;
    border-color: #434c57;
    color: white;
}

.button-light:hover {
    background-color: #e9eced;
    cursor: pointer;
}

.button-light:active {
    background-color: #dce0e1;
    cursor: pointer;
}

.button-dark:hover {
    background-color: #46505a;
    cursor: pointer;
}

.button-dark:active {
    background-color: #2e363e;
}


.button-red {
    background-color: #e40c2c;
    color: white;
    border-color: #ff2f4f;
}

.button-red:hover {
    background-color: #ff1133;
    cursor: pointer;
}

.button-red:active {
    background-color: #cc0c29;
    cursor: pointer;
}

.button a:hover {
    text-decoration: none !important;
}

/*Banners*/
.banner {
    padding: 1.5rem;
    color: black;
    display: flex;
    border-radius: 10px;
    border: 1px solid;
}

.banner-light {
    background-color: #f6f8fa;
    border-color: #e5e6ea;
    color: black;
}

.banner-dark {
    background-color: #282f35;
    border-color: #38424a;
    color: white
}

.banner-buttons {
    display: flex;
    align-items: center;
}

@media (min-width: 1000px) {
    .banner {
        flex-direction: row;
        gap: 3rem;
    }

    .banner-content {
        flex: .8;
    }

    .banner-buttons {
        flex: .2;
    }
}

@media (max-width: 1000px) {
    .banner {
        flex-direction: column;
    }

    .banner-content {
        flex: 1;
    }

    .banner-buttons {
        flex: 1;
    }
}

/*Form*/
.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    max-width: 500px;
    gap: 1.5rem;
}

.form-large {
    max-width: 800px !important;
    width: 100% !important;
}

.form-item {
    flex: 1;
}

.form-input-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form-input-label {
    flex: 1;
}

.form-input-area {
    flex: 1;
}

.textbox {
    border: 1px solid;
    border-radius: 8px;
    padding: .75rem;
}

.textbox-medium {
    max-width: 500px;
    width: 100%;
}

.textbox-light {
    background-color: #f6f6f6;
    border-color: #e3e3e3;
    color: #151515;
}

.textbox-light:focus {
    outline: none;
    border-color: #1b7cda;
}

.textbox-light:active {
    outline: none;
}

.textbox-dark {
    background-color: #2b3239;
    border-color: #323a42;
    color: white;
}

.textbox-dark:focus {
    outline: none;
    border-color: #48a5ff;
}

.textbox-dark:active {
    outline: none;
}

.form-tip {
    flex: 1;
    font-size: 12px;
}

.textarea {
    font-family: Roboto;
    padding: .75rem;
    width: 100%;
    min-height: 75px;
    max-width: 500px;
    resize: vertical;
    border: 1px solid;
    border-radius: 8px;
}

.textarea-medium {
    max-width: 100% !important;
    width: 100% !important;
    box-sizing: border-box;
}

.textarea-large {
    max-width: 100% !important;
    min-height: 350px;
    width: 100% !important;
    box-sizing: border-box;
}

.textarea-light {
    background-color: #f6f6f6;
    border-color: #e3e3e3;
    color: #151515;
}

.textarea-light:focus {
    outline: none;
    border-color: #1b7cda;
}

.textarea-dark:active {
    outline: none;
}

.textarea-dark {
    background-color: #2b3239;
    border-color: #323a42;
    color: white;
}

.textarea-dark:focus {
    outline: none;
    border-color: #48a5ff;
}

.textarea-dark:active {
    outline: none;
}

.textbox-error {
    border-color: #e40c2c !important;
}

.textarea-error {
    border-color: #e40c2c !important;
}

/*Tooltips*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 85px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 1rem;

    /* Position the tooltip */
    position: absolute;
    margin-left: .25rem;
    z-index: 1;
}

.tooltiptext-dark {
    background-color: black;
    color: #fff;
}

.tooltiptext-light {
    background-color: #fff;
    color: black;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*Others*/
.full-width {
    width: 100%;
}

.error {
    color: #e40c2c;
}

.red {
    color: #e40c2c;
}

.red:hover {
    color: #ff4646;
}